<div class="p-3">
    <h3>jelszó változtatás</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="oldpass" placeholder="Régi jelszó">
        <label for="oldpass">Régi jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="newpass" placeholder="Új jelszó">
        <label for="newpass">Új jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Új jelszó megerősítése">
        <label for="confirm">Új jelszó megerősítése</label>
    </div>
    <button class="btn btn-warning mb-3" onclick="updatePassword()">Jelszó frissítése</button>
</div>