<div class="p-3">
    <h3>Receptek</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="title" placeholder="Étel neve">
        <label for="title">Étel neve</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="description" placeholder="Leírás">
        <label for="description">Leírás</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="time" placeholder="Elkészítési idő">
        <label for="time">Elkészítési idő</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="additions" placeholder="Hozzávalók">
        <label for="additions">Hozzávalók</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="calorie" placeholder="Kalória szám">
        <label for="calorie">Kalória szám</label>
    </div>
    <hr>
    <button class="btn btn-primary mb-3" onclick="addRecipes()">Recept hozzáadása</button>
    <hr>
</div>
