<div class="p-3 registrationview">
    <h3>Regisztráció</h3>
    <hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="Név">
        <label for="name">Név</label>
    </div>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="nev@example.com">
        <label for="email">E-mail cím</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="phone" placeholder="+00000000000">
        <label for="phone">Telefon szám</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Jelszó">
        <label for="password">Jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Jelszó megerősítése">
        <label for="confirm">Jelszó megerősítése</label>
    </div>
    <hr>
    <button class="btn btn-dark mb-3" onclick="registration()">Regisztráció</button>
    </div>
    
</div>
